

.ui.inverted.vertical.center.aligned.segment {
  background: url("./antique-gf87bb1c30_1920.jpg");
  background-size: 100%;
  background-position: center;
  color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
    margin: auto;
}

@media (max-width:700px){
    .ui.inverted.vertical.center.aligned.segment{
        background-size: 330%;
    }
    }

.gradient {
  background: rgb(2, 0, 36);
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(130, 112, 17, 1) 31%,
    rgba(207, 160, 18, 1) 51%,
    rgba(3, 3, 0, 1) 93%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ui.image.logo{  height: 8em;
    background-size: cover;}
